<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Linking Space</title>
    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
	<link rel="stylesheet" href="../../static/css/app.css">
    <link rel="stylesheet" href="../../static/css/theme.css">
	<link rel="shortcut icon" href="../../static/img/favicon.ico">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <a class="navbar-brand font-weight-bolder mr-3" href="/"><img src="../../static/img/logo.png" width="150", height="50"></a>
    <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsDefault">	
    	<ul class="navbar-nav ml-auto align-items-center">
    		<!-- <li class="nav-item">
    		<a class="nav-link active" href="/seuser/login">로그인</a>
    		</li>
    		<li class="nav-item">
    		<a class="nav-link" href="/seuser/login">회원가입</a> -->
    	</ul>
    </div>
    </nav>    
    <main role="main">
        
    
    <section class="mt-4 mb-5">
    <div class="container mb-4">
    	<h1 class="font-weight-bold title">준비중인 서비스입니다.</h1>
		<p><hr class="split-line"></p>
    </div>
    <div class="container-fluid">
    	<div class="row">
    		<div class="card-columns">
    			<div class="card card-pin">
    				<img class="card-img" src="{{ img1 }}" alt="Card image">
  					<div class="overlay">
      						<h3 class="card-title title">{{ name1 }}</h3>
							<br>
      						<p style="color : white;text-align:center">{{ address1 }}</p>
							<p style="color : white;text-align:center">{{ description1 }}</p>
							<p style="color : white;text-align:center">{{ contact1 }}</p>
    						<div class="more">
							<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
    			<div class="card card-pin">
    				<img class="card-img" src="{{ img2 }}" alt="Card image">
  					<div class="overlay">
      						<h3 class="card-title title">{{ name2 }}</h3>
							<br>
      						<p style="color : white;text-align:center">{{ address2 }}</p>
							<p style="color : white;text-align:center">{{ description2 }}</p>
							<p style="color : white;text-align:center">{{ contact2 }}</p>
    						<div class="more">
							<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
					</div>	
    			</div>
    			<div class="card card-pin">
    				<img class="card-img" src="{{ img3 }}" alt="Card image">
    				<div class="overlay">
						<h3 class="card-title title">{{ name3 }}</h3>
					  	<br>
						<p style="color : white;text-align:center">{{ address3 }}</p>
					  	<p style="color : white;text-align:center">{{ description3 }}</p>
					  	<p style="color : white;text-align:center">{{ contact3 }}</p>
					  	<div class="more">
					  	<a href="post.html">
					  	<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
				  </div>
			  </div>
    			</div>
    			<div class="card card-pin">
    				<img class="card-img" src="{{ img4 }}" alt="Card image">
    				<div class="overlay">
      						<h3 class="card-title title">{{ name4 }}</h3>
							<br>
      						<p style="color : white;text-align:center">{{ address4 }}</p>
							<p style="color : white;text-align:center">{{ description4 }}</p>
							<p style="color : white;text-align:center">{{ contact4 }}</p>
    						<div class="more">
							<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
    			<div class="card card-pin">
    				<img class="card-img" src="{{ img5 }}" alt="Card image">
    				<div class="overlay">
      						<h3 class="card-title title">{{ name5 }}</h3>
							<br>
							<p style="color : white;text-align:center">{{ address5 }}</p>
							<p style="color : white;text-align:center">{{ description5 }}</p>
							<p style="color : white;text-align:center">{{ contact5 }}</p>
    						<div class="more">
							<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
    			<div class="card card-pin">
    				<img class="card-img" src="{{ img6 }}" alt="Card image">
    				<div class="overlay">
      						<h3 class="card-title title">{{ name6 }}</h3>
							<br>
							<p style="color : white;text-align:center">{{ address6 }}</p>
							<p style="color : white;text-align:center">{{ description6 }}</p>
							<p style="color : white;text-align:center">{{ contact6 }}</p>
    						<div class="more">
							<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
    			<div class="card card-pin">
    				<img class="card-img" src="{{ img7 }}" alt="Card image">
    				<div class="overlay">
      						<h3 class="card-title title">{{ name7 }}</h3>
							<br>
							<p style="color : white;text-align:center">{{ address7 }}</p>
							<p style="color : white;text-align:center">{{ description7 }}</p>
							<p style="color : white;text-align:center">{{ contact7 }}</p>
    						<div class="more">
							<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
    			<div class="card card-pin">
    				<img class="card-img" src="{{ img8 }}" alt="Card image">
    				<div class="overlay">
      						<h3 class="card-title title">{{ name8 }}</h3>
							<br>
							<p style="color : white;text-align:center">{{ address8 }}</p>
							<p style="color : white;text-align:center">{{ description8 }}</p>
							<p style="color : white;text-align:center">{{ contact8 }}</p>
    						<div class="more">
							<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
    			<div class="card card-pin">
    				<img class="card-img" src="{{ img9 }}" alt="Card image">
    				<div class="overlay">
      						<h3 class="card-title title">{{ name9 }}</h3>
							<br>
							<p style="color : white;text-align:center">{{ address9 }}</p>
							<p style="color : white;text-align:center">{{ description9 }}</p>
							<p style="color : white;text-align:center">{{ contact9 }}</p>
    						<div class="more">
							<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
    			<div class="card card-pin">
    				<img class="card-img" src="{{ img10 }}" alt="Card image">
    				<div class="overlay">
      						<h3 class="card-title title">{{ name10 }}</h3>
							<br>
							<p style="color : white;text-align:center">{{ address10 }}</p>
							<p style="color : white;text-align:center">{{ description10 }}</p>
							<p style="color : white;text-align:center">{{ contact10 }}</p>
    						<div class="more">
							<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
    			<div class="card card-pin">
    				<img class="card-img" src="{{ img11 }}" alt="Card image">
    				<div class="overlay">
      						<h3 class="card-title title">{{ name11 }}</h3>
							<br>
							<p style="color : white;text-align:center">{{ address11 }}</p>
							<p style="color : white;text-align:center">{{ description11 }}</p>
							<p style="color : white;text-align:center">{{ contact11 }}</p>
    						<div class="more">
							<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
    			<div class="card card-pin">
    				<img class="card-img" src="{{ img12 }}" alt="Card image">
    				<div class="overlay">
      						<h3 class="card-title title">{{ name12 }}</h3>
							<br>
							<p style="color : white;text-align:center">{{ address12 }}</p>
							<p style="color : white;text-align:center">{{ description12 }}</p>
							<p style="color : white;text-align:center">{{ contact12 }}</p>
    						<div class="more">
							<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
    			<div class="card card-pin">
    				<img class="card-img" src="{{ img13 }}" alt="Card image">
    				<div class="overlay">
      						<h3 class="card-title title">{{ name13 }}</h3>
							<br>
							<p style="color : white;text-align:center">{{ address13 }}</p>
							<p style="color : white;text-align:center">{{ description13 }}</p>
							<p style="color : white;text-align:center">{{ contact13 }}</p>
    						<div class="more">
							<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
    			<div class="card card-pin">
    				<img class="card-img" src="{{ img14 }}" alt="Card image">
    				<div class="overlay">
      						<h3 class="card-title title">{{ name14 }}</h3>
							<br>
							<p style="color : white;text-align:center">{{ address14 }}</p>
							<p style="color : white;text-align:center">{{ description14 }}</p>
							<p style="color : white;text-align:center">{{ contact14 }}</p>
    						<div class="more">
							<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
    			<div class="card card-pin">
    				<img class="card-img" src="{{ img15 }}" alt="Card image">
    				<div class="overlay">
      						<h3 class="card-title title">{{ name15 }}</h3>
							<br>
							<p style="color : white;text-align:center">{{ address15 }}</p>
							<p style="color : white;text-align:center">{{ description15 }}</p>
							<p style="color : white;text-align:center">{{ contact15 }}</p>
    						<div class="more">
							<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
    			<div class="card card-pin">
    				<img class="card-img" src="{{ img16 }}" alt="Card image">
    				<div class="overlay">
      						<h3 class="card-title title">{{ name16 }}</h3>
							<br>
							<p style="color : white;text-align:center">{{ address16 }}</p>
							<p style="color : white;text-align:center">{{ description16 }}</p>
							<p style="color : white;text-align:center">{{ contact16 }}</p>
    						<div class="more">
							<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
    			<div class="card card-pin">
    				<img class="card-img" src="{{ img17 }}" alt="Card image">
    				<div class="overlay">
      						<h3 class="card-title title">{{ name17 }}</h3>
							<br>
							<p style="color : white;text-align:center">{{ address17 }}</p>
							<p style="color : white;text-align:center">{{ description17 }}</p>
							<p style="color : white;text-align:center">{{ contact17 }}</p>
    						<div class="more">
							<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
    			<div class="card card-pin">
    				<img class="card-img" src="{{ img18 }}" alt="Card image">
    				<div class="overlay">
      						<h3 class="card-title title">{{ name18 }}</h3>
							<br>
							<p style="color : white;text-align:center">{{ address18 }}</p>
							<p style="color : white;text-align:center">{{ description18 }}</p>
							<p style="color : white;text-align:center">{{ contact18 }}</p>
    						<div class="more">
							<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
    			<div class="card card-pin">
    				<img class="card-img" src="{{ img19 }}" alt="Card image">
    				<div class="overlay">
      						<h3 class="card-title title">{{ name19 }}</h3>
							<br>
							<p style="color : white;text-align:center">{{ address19 }}</p>
							<p style="color : white;text-align:center">{{ description19 }}</p>
							<p style="color : white;text-align:center">{{ contact19 }}</p>
    						<div class="more">
							<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
    			<div class="card card-pin">
					<img class="card-img" src="{{ img20 }}" alt="Card image">
    				<div class="overlay">
      						<h3 class="card-title title">{{ name20 }}</h3>
							<br>
							<p style="color : white;text-align:center">{{ address20 }}</p>
							<p style="color : white;text-align:center">{{ description20 }}</p>
							<p style="color : white;text-align:center">{{ contact20 }}</p>
    						<div class="more">
							<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    </section>
        
    </main>

    <script src="../../static/js/app.js"></script>
    <script src="../../static/js/theme.js"></script>
    
    <footer class="footer pt-5 pb-5 text-center">
        
    <div class="container">
        
          <div class="socials-media">
    
            <ul class="list-unstyled">
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-facebook"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-twitter"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-instagram"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-google-plus"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-behance"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-dribbble"></i></a></li>
            </ul>
    
          </div>    
        </div>
        
    </footer>    
</body>
    
</html>
